<!DOCTYPE html>
<html>
  <head>
    <title>FutonFlying</title>
    <link rel="icon" href="app/assets/images/favicon.png" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Delius" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href=<%= asset_path("favicon.png") %> >
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDl3peYMfdxsHwzH-TMrgZFmwGNRIULxSw" %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
